body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 4;
}

.links ul {
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}


.links a {
    color: #e5e7eb;
}

.section-1 {
    background-color: #1f2937;
}

.section-2 {}

.section-3 {
    background-color: #e5e7eb;
}

.section-4 {}

.header-img {
    width: 300px;
    height: 200px;
    background-color: #e5e7eb;
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info-img {
    width: 80px;
    height: 80px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.info-text {
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.quote-auth {
    color: #1f2937;
    font-size: 22px;
    font-weight: 700;
}

.banner {
    margin: 4rem;
    width: 800px;
    height: 120px;
    background-color: #3882f6;
    border-radius: 10px;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    flex-shrink: 4;
}

.signup {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 8px;
}