body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

h1 {
    padding: 0;
    margin: 0;
    line-height: 50px;
    font-size: 48px;
    font-weight: 900;
}

h2 {
    margin: 4px 0;
    font-size: 36px;
    font-weight: 900;
}

h3 {
    margin: 4px 0;
}

p {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 4;
}

.links ul {
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}


.links a {
    color: #e5e7eb;
    font-size: 18px;
}

.header,
.footer {
    display: flex;
    padding: 12px 20%;
}

.section-1,
.section-2,
.section-3,
.section-4 {
    display: flex;
    padding: 100px 20%;
}

.section-1 {
    background-color: #1f2937;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.section-1 .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 50%;
    gap: 16px;
}

.section-2 {
    flex-flow: row wrap;
    justify-content: center;
}

.section-2 .info-title {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.section-2 .info-box {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
}

.section-3 {
    background-color: #e5e7eb;
    flex-direction: column;
    gap: 20px;
}

.section-3 .quote-text {
    text-align: justify;
}

.section-3 .quote-auth {
    text-align: right;
}

.section-4 {}

.header-img {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 50%;
}

.header-img img {
    height: 200px;
    width: 300px;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info-img {
    width: 80px;
    height: 80px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.info-text {
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.quote-auth {
    color: #1f2937;
    font-size: 22px;
    font-weight: 700;
}

.banner {
    width: 800px;
    height: 120px;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .signup {
    border: 1px solid white;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
}

.signup {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 8px;
}